<div header-bar active="Profile Management"></div>
<div class="container">
<h1>Account</h1>
{{apiMessage}}
<div class="row">
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <ul class="profileSections">
            <li ng-repeat="section in profileSections" ng-class="{'active':profileActiveSection==$index}" ng-click="changeActive($index)">{{section}}</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-9 profileManagementPage">


        <div class="col-sm-12" ng-show="profileActiveSection == 0">
            <h2>Personal Details</h2>
            <form name="personalDetailsForm" ng-submit="detailsFunc()" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : firstNameError() }">
                    <label class="control-label" for="firstName">First Name</label>
                    <span ng-show="firstNameError()" class="help-block">{{firstNameError()}}</span>
                    <input id="firstName" type="text" name="firstName" class="form-control" ng-model="profileData.meta.firstName" ng-pattern="/^[a-zA-Z]*$/" ng-minlength="2">
                </div>

                <div class="form-group" ng-class="{ 'has-error' : middleNamesError() }">
                    <label class="control-label" for="middleNames">Middle Names</label>
                    <span ng-show="middleNamesError()" class="help-block">{{middleNamesError()}}</span>
                    <input id="middleNames" type="text" name="middleNames" class="form-control" ng-model="profileData.meta.middleNames" ng-pattern="/^[a-zA-Z]*$/">
                </div>

                <div class="form-group" ng-class="{ 'has-error' : lastNameError() }">
                    <label class="control-label" for="lastName">Last Name</label>
                    <span ng-show="lastNameError()" class="help-block">{{lastNameError()}}</span>
                    <input id="lastName" type="text" name="lastName" class="form-control" ng-model="profileData.meta.lastName" ng-pattern="/^[a-zA-Z]*$/" ng-minlength="2">
                </div>

                <div class="form-group">
                    <label class="control-label" for="gender">Gender</label><br/>
                    <input type="radio" ng-model="profileData.meta.gender" value="male">Male
                    <input type="radio" ng-model="profileData.meta.gender" value="female">Female
                </div>

                <div class="form-group">
                    <label class="control-label" for="dateOfBirth">Date of birth</label>
                    <input id="dateOfBirth" type="text" ui-mask="99/99/9999" name="dateOfBirth" class="form-control" ng-model="profileData.meta.dateOfBirth">
                </div>

                <div class="form-group">
                    <label class="control-label" for="profilePicture">Profile picture</label>
                    <input id="profilePicture" type="file" name="profilePicture" class="form-control" ng-model="profileData.meta.profilePicture">
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="personalDetailsForm.$invalid">Submit</button> 
            </form>
        </div>

        <div class="col-sm-12" ng-show="profileActiveSection == 2">
            <h2>Basic Info</h2>
        </div>

        <!-- // More sections here // -->

    </div>
</div>
<div footer-bar></div>